  /*основной цвет текста #757575 */
  /* второй цвет текста: #212121 */
  /*цвет веб текста #2196F3*/
  /*цевт в блоке герой текста #ffffff */
  /* цвет акцент   #2196F3; */
  /*  цвет фона 1 #2F303A */
  /*  цвет фона 2 #E5E5E5 */
  /* цвет фона 3 #F5F4FA */
 :root{
     --primary-text-color:#757575;
     --title-text-color:#212121;
     --accent-color:#2196F3;
     --color-color: #ffffff;
     --background-color:#2F303A;
 }
 
 a {
    text-decoration: none;
 } 
 
 body {   
 background-color:var(--color-color);
 color: var(--primary-text-color);
 font-family : Roboto, Raleway, sans-serif;
 letter-spacing : 0.03em;
 }

h1,
h2,
h3{ 
    font-family: Roboto;
    color: #212121;
}
 
 ul{
     list-style: none;
 }

.logo-web{
     color: var(--accent-color);
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
    }
.logo-heder{
    color:var(--title-text-color) ;

    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
      
}
 /* site-nav */
 .site-nav .link {
     color: var(--title-text-color);

        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        
 }

 .site-nav .link:hover,
 .site-nav .link:focus{
     color: var(--accent-color)
 }
 .auth a {
    color:var(--primary-text-color);

        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        

 }
 .auth-link:hover,
 .auth-link:focus {
     color: var(--accent-color)
 }


 /*блок герой*/
 .section{
     background-color: var(--title-text-color);
     color: var(--color-color);

     font-weight: 900;
     font-size: 44px;
     line-height: 1.36;
     text-align: center;
 }
 .section-title{
     color: var(--color-color);
 }
 .button-primary{  
            display: inline-block;
            cursor: pointer;
            color: var(--color-color);
            background-color: var(--accent-color);
            font-family: 'Roboto';
            font-weight: 700;
            font-size: 16px;
            line-height: 1.9;
        }
 .button-primary:hover,
 .button-primary:focus{color: var(--title-text-color);
    background-color: var(--color-color);

 }
     
     
 

 
 /*почему вибирают нас*/
  .section-list .title{
      color: var(--title-text-color);

  }
  .title{
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
       
  }
  .paragraph {
      color: var(--primary-text-color);

        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
  }
  .section-list {
      color:var(--primary-text-color)
  }
  /* виды услуг*/
.photo .photo-title{
    color:var(--title-text-color);
    
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        
}

/*наши специалисты*/

.team
.team-photo{
    color: var(--title-text-color);
    font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
}
.team{
    background-color:#F5F4FA ;
}
/*как найти нас (footer)*/

.footer{
    background-color:var(--background-color) ;
}
.logo-footer{
    color: var(--color-color);
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.9;
        
}
.address a{
    color: var(--color-color);

     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 1.7;
        
    
        letter-spacing: 0.03em;
}
.map:hover,
.map:focus{
    color:var(--accent-color);

}

.address-link{
    color: var(--color-color);
    opacity: 0.6;   
}
.address-link:hover,
.address-link:focus {
        color: var(--accent-color)
    }
 /*СТРАНИЦА ПОРТФОЛИО*/
 .visually-hidden {
     position: absolute;
     white-space: nowrap;
     width: 1px;
     height: 1px;
     overflow: hidden;
     border: 0;
     padding: 0;
     clip: rect(0 0 0 0);
     clip-path: inset(50%);
     margin: -1px;
 }


.button-item{ 
    display: inline-block;
    cursor: pointer;
    color: var(--title-text-color);
    background-color: var(--color-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
   
    }
    

.button-item:hover,
.button-item:focus{
    color: var(--color-color);
    background-color: var(--accent-color);
} 
 
     
/*наши продукты*/ 


   
.text{
    color: var(--title-text-color);
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
}
.paragraph-portfolio{
    color: var(--primary-text-color);
        font-size: 16px;
        line-height: 1.9;

}




 

 